extends layout
block content
  .container-fluid
    .row
      .col-md-1.col-sm-0
      .col-md-10.col-sm-12
        .container-fluid.content
          .row.main.text-center
            .col-12
              h1 Aktuellt
          .row.main
            .col-md-3.text-center
              img.img-fluid(src="/images/stenar.png", alt="Insert Sten" id="Sten")
            .col-md-9
              h4 Upptäck ditt bildspråk
              p.contactText 
                |Här får du möjlighet att prova på att arbeta med bild som kommunikation. Med några enkla bildövningar kan du upptäcka ditt eget personliga bildspråk. 
                |Du får sedan möjlighet att dela dina reflexioner med gruppen under min ledning. Att ha målat förut är inget krav! Gruppledare är Gunilla Berglund bildterapeut/socionom.
              p.contactText 
                |Vi träffas 6 timmar, antingen dagtid en helg eller vid tre träffar på kvällstid. Gruppen startar när minst 5 personer anmält sig. Kostnad 450:- inklusive material. 
                |Är Du intresserad av att delta? Anmäl Dig då via mail till kgunillak@gmail.com
              h4 Att bryta sina mönster, en möjlighet att förändra ett alkohol/drogberoende.
              p.contactText 
                |Ett erbjudande om att individuellt eller i grupp öppet prata om riskbruk, missbruk eller beroende. Bildspråket i kombination med samtalet kan vara en ny väg framåt bort från beroendet. 
                |Ta kontakt via mail kgunillak@gmail.com för mer information och intresseanmälan. Jag hör då av mig till Dig. 
                |För att veta mer om min bakgrund och arbetssätt, gå till startsidan och läs min presentation under rubriken ”Vi bildterapeuter.” <br>Gunilla Berglund <br>Bildterapeut/socionom
              h4 Individuell bildterapi
              p.contactText 
                |Om Du har önskemål om individuell bildterapi; gå vidare till rubriken Vi bildterapeuter. Där kan du se vilka som arbetar i Bildterapihuset. 
                |Du kan då själv ta kontakt via mail eller telefon.
          .row
            .col-12.text-center.main
              h4 Välkommen
              p.contactText till kreativt skapande i Bildterapihuset.

          .row
            include footer.pug



      .col-md-1.col-sm-0