extends layout
block content
  .container-fluid
    .row
      .col-md-1.col-sm-0
      .col-md-10.col-sm-12
        .container-fluid.content
          .row.main
            .col-12.text-center.welcome
              h1 Kontakta oss!
          .row.main
            .container-fluid
              .row
                .col-md-6
                  .container-fluid
                    .row
                      .col-6.contactText
                        h4 Hur går det till?
                      .col-6
                      .container-fluid.contactText
                        .row
                          .col-md-6
                            p Du kan själv söka kontakt för egen del direkt via mail till någon av bildterapeuterna, eller via din Företagshälsovård eller annan kontaktperson. Önskar du allmän information maila till kgunillak@gmail.com <br> För konsultativa insatser och övriga beställningsuppdrag, ta kontakt för diskussion om vem av oss som är bäst lämpad. Maila då till kgunillak@gmail.com
                          .col-md-6  
                            img.img-fluid(src="/images/contactPic.png", alt="Insert Pic" id="contactPic")
                .col-md-6.contactText
                  .container-fluid
                    .row
                      .col-12
                        h4 Hitta hit?
                        p Vi finns i Bildterapihuset, Brogatan 5. Huset ligger inne på gården, i huset bakom Swefo foto. Vår lokal ligger i källarvåningen och det står Bildterapihuset på dörren. Vår lokal kan också hyras, kontakta kgunillak@gmail.com
                        .embed-responsive.embed-responsive-21by9
                          iframe(class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1759.8051171339243!2d20.24856981625808!3d63.82757348345203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x467c5b730f9a2629%3A0x2dd69627028dee38!2sBrogatan+5%2C+903+21+Ume%C3%A5!5e0!3m2!1ssv!2sse!4v1548360641104" width="400vw" height="400vh" frameborder="0" style="border:0" allowfullscreen)
          .row   
            include footer.pug

      .col-md-1.col-sm-0