.container-fluid.foot
    .row
        .col-12.text-center
            h1 Här finns vi!
    .row
        .col-md-6
            .container-fluid
                .row
                    .col-4
                        img(src="/images/Adress.png", alt="Insert Adress" id="Adress")
                    .col-8.KontaktFoot
                        p Brogatan 5
                            a.map(href="https://goo.gl/maps/okGKG5xhqZN2") Klicka här för karta 
        .col-md-6
            .container-fluid
            .row
                .col-4
                    img(src="/images/Mejl.png", alt="Insert Mejl" id="Mejl")
                .col-8.KontaktFoot
                    p.footText kgunillak@gmail.com