nav(class="navbar navbar-expand-lg fixed-top")
    .container-fluid
        .col-md-2.col-sm-0
        .col-md-8.col-sm-10.text-center
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse" id="navbarNav")
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href="#") Startsida
                    li.nav-item
                        a.nav-link(href="#") Aktuellt
                    li.nav-item
                        a.nav-link(href="#") Bildteraputer
                    li.nav-item
                        a.nav-link(href="#") Resurser/Länkar
                    li.nav-item
                        a.nav-link(href="#") Kontakt
        .col-md-2.col-sm-2.text-center
            a.navbar-brand 
                img.img-center(src='/images/BTHnew.png', alt="BTH" id="logo")